.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.userTitle{
    fontSize: 24px;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.userContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 2rem;
}

.userShow{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
}

.userShowUsername{
    font-size: 24px;
    font-weight: 600;
}

.userShowUserTitle{
    font-size: 14px;
    font-weight: 400;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}

.userShowInfo{
    margin: 20px 0px;
    color: #444;
    display: flex;
    align-items: center;
}

.userShowIcon{
    margin-right: 10px;
    font-size: 18px !important;
}

.userShowInfoTitle{
    font-size: 1rem;
    font-weight: 400;
}

.userUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.userUpdateLeft{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.userUpdateItem{
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.userUpdateInput{
    border: none;
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 10px 0;
    font-size: 1rem;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 0;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.userUpdateButton{
    width: 100px;
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}